.card-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 20px;
}

.galeria{
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.galeria img{
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
}

.galeria img:hover{
    transform: scale(1.05);
}

.title{
    padding: 10px;
    font-size: 1.1em;
    text-align: center;
    background-color: #f8f8f8;
}