/* Estilos generales del header para todas las resoluciones */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FBEADB;
  padding: 10px 20px;
  border-radius: 20px;
  position: fixed;
  top: 10px;
  left: 80px;
  right: 80px;
  margin-top: 10px;
  z-index: 100;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}


.header .logo img {
  height: 50px;
  cursor: pointer;
}

.header .access-btn {
  background-color: #C98E6E;
  padding: 10px 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  color: #FFFFFF;
}

.header .access-btn .access-button {
  background: none;
  border: none;
  color: #FFFFFF;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header .access-btn .fa-arrow-right {
  margin-left: 10px;
}

/* Estilos para los links de navegación (escritorio por defecto) */
.header .nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 60px;
  position: relative;
}

/* Que el botón quede al final en escritorio */
.header .nav-links .access-btn {
  margin-left: auto; /* Empuja el botón hacia la derecha */
}

.header .nav-link {
  color: #000000;
  text-decoration: none;
  position: relative;
  transition: all 0.3s ease;
}

.header .nav-link:hover {
  color: #C98E6E;
}

.header .nav-link:hover::after {
  content: '';
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #C98E6E;
  animation: underline-animation 0.3s ease-in-out;
}

/* El ícono del menú hamburguesa está oculto por defecto */
.hamburger-menu {
  display: none;
  cursor: pointer;
  font-size: 30px;
}

@keyframes underline-animation {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

/* Estilos para pantallas móviles */

@media screen and (max-width: 768px) {
  /* Oculta los links de navegación y el botón de acceso en móviles */
  .header .nav-links{
    display: none;
    gap: 38px;
    flex-direction: column;
  }

  /* Muestra el ícono del menú hamburguesa */
  .hamburger-menu {
    display: block;
  }
  
  /* Ajusta el layout del header para móviles */
  .header {
    left: 10px;
    right: 10px;
  }

  /* Estilo del menú hamburguesa cuando está activo */
  .header .nav-links.active {
    display: flex;
    position: absolute;
    top: 70px; /* Posición debajo del header fijo */
    left: 0;
    width: 100%;
    background-color: #FBEADB;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 20px 0;
  }
  
  /* Estilo de los links dentro del menú móvil */
  .header .nav-links.active .nav-link,
  .header .nav-links.active .access-btn {
    text-align: center;
    font-size: 18px;
    padding: 10px;
    width: 100%;
    margin-left: 0;
  }
}