<section class="auth-shell">
  <div class="card">
    <h1 class="title">Recuperar acceso</h1>
    <p class="sub">Ingrese su correo y DNI para validar su identidad.</p>

    <form [formGroup]="form" (ngSubmit)="submit()" class="form">
      <label>
        <span>Correo</span>
        <input type="email" placeholder="correo@parroquia.pe" formControlName="email">
        <small class="msg" *ngIf="form.controls['email'].touched && form.controls['email'].invalid">
            Ingrese un correo válido.
        </small>
      </label>

      <label>
        <span>DNI</span>
        <input type="text" placeholder="8 dígitos" formControlName="dni" maxlength="8">
        <small class="msg" *ngIf="form.controls['dni'].touched && form.controls['dni'].invalid">
            DNI inválido. Debe contener 8 dígitos.
        </small>
      </label>

      <p class="info" *ngIf="info">{{ info }}</p>
      <p class="error" *ngIf="error">{{ error }}</p>

      <button type="submit" class="btn-primary">Enviar enlace</button>
      <button type="button" class="btn-link" (click)="backToLogin()">Volver a Ingresar</button>
    </form>
  </div>
</section>
